
.wallpaper-thumbnail {
    background-color: rgba(10,10,10,0.7);
    border: 1px solid #444;
    padding: 4px;
    border-radius: 4px;
}

.wallpaper-label {
    color: #ffffff;
    font-size: 7.5pt;
}

.wallpaper-page-indicator {
    color: #ffffff;
    font-size: 7.5pt;
    font-weight: bold;
}
